<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
    <div class="container">
        <a href="#" class="navbar-brand">NEXTlegal Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item">
                    <a ui-sref="home" class="nav-link">Home</a>
                </li>
                <li ng-if="vm.auth.isAuthenticated()" ui-sref-active="active" class="nav-item">
                    <a ui-sref="clientList" class="nav-link">Clients</a>
                </li>
                <li ng-if="vm.auth.isAuthenticated()" ui-sref-active="active" class="nav-item">
                    <a ui-sref="projectList" class="nav-link">Projects</a>
                </li>
                <li ng-if="!vm.auth.isAuthenticated()" class="nav-item">
                    <a ng-click="vm.auth.login()" class="nav-link">Log In</a>
                </li>
                <li ng-if="vm.auth.isAuthenticated()" class="nav-item">
                    <a ng-click="vm.auth.logout()" class="nav-link">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>