<div class="container-fluid" ng-if="vm.auth.isAuthenticated()">
    <div class="client-images">
        <img ng-src="{{img}}" class="client"
            ng-class="{selected: img === $ctrl.mainImageUrl}"
            ng-repeat="img in vm.client.images" />
    </div>

    <h1>{{vm.client.name}}</h1>

    <p>{{vm.client.description}}</p>

    <ul class="client-thumbs">
        <li ng-repeat="img in vm.client.images">
            <img ng-src="{{img}}" ng-click="vm.setImage(img)" />
        </li>
    </ul>

    <ul class="specs">
        <li>
            <span>Adres</span>
            <dl>
                <dt>Straat</dt>
                <dd>{{vm.client.location.address}}</dd>
                <dt>Postcode</dt>
                <dd>{{vm.client.location.zipcode}}</dd>
                <dt>Plaats</dt>
                <dd>{{vm.client.location.city}}</dd>
                <dt>Land</dt>
                <dd>{{vm.client.location.country}}</dd>
            </dl>
        </li>
        <li>
            <span>Contact</span>
            <dl>
                <dt>Telefoon</dt>
                <dd><a href="tel:{{vm.client.contact.phonenumber}}">{{vm.client.contact.phonenumber}}</a></dd>
                <dt>E-Mail</dt>
                <dd><a href="mailto:{{vm.client.contact.email}}">{{vm.client.contact.email}}</a></dd>
                <dt>Website</dt>
                <dd><a href="{{vm.client.contact.website}}" target="_blank">{{vm.client.contact.website}}</a></dd>
            </dl>
        </li>
        <li>
            <span>Advocaten</span>
            <dl>
                <dt>Aantal in dienst</dt>
                <dd>{{vm.client.lawyers}}</dd>
            </dl>
        </li>
        <li>
            <span>Projecten</span>
            <dl>
                <dt>Gegevens</dt>
                <dd ng-repeat="project in vm.client.projects | orderBy: 'name'">
                    <a href="#/projects/{{project.id}}">{{project.name}}</a></dd>
            </dl>
        </li>
    </ul>
</div>