<div class="client-images">
    <img ng-src="{{img}}" class="client"
        ng-class="{selected: img === $ctrl.mainImageUrl}"
        ng-repeat="img in $ctrl.client.images" />
</div>

<h1>{{$ctrl.client.name}}</h1>

<p>{{$ctrl.client.description}}</p>

<ul class="client-thumbs">
    <li ng-repeat="img in $ctrl.client.images">
        <img ng-src="{{img}}" ng-click="$ctrl.setImage(img)" />
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Adres</span>
        <dl>
            <dt>Straat</dt>
            <dd>{{$ctrl.client.location.address}}</dd>
            <dt>Postcode</dt>
            <dd>{{$ctrl.client.location.zipcode}}</dd>
            <dt>Plaats</dt>
            <dd>{{$ctrl.client.location.city}}</dd>
            <dt>Land</dt>
            <dd>{{$ctrl.client.location.country}}</dd>
        </dl>
    </li>
    <li>
        <span>Contact</span>
        <dl>
            <dt>Telefoon</dt>
            <dd><a href="tel:{{$ctrl.client.contact.phonenumber}}">{{$ctrl.client.contact.phonenumber}}</a></dd>
            <dt>E-Mail</dt>
            <dd><a href="mailto:{{$ctrl.client.contact.email}}">{{$ctrl.client.contact.email}}</a></dd>
            <dt>Website</dt>
            <dd><a href="{{$ctrl.client.contact.website}}" target="_blank">{{$ctrl.client.contact.website}}</a></dd>
        </dl>
    </li>
    <li>
        <span>Advocaten</span>
        <dl>
            <dt>Aantal in dienst</dt>
            <dd>{{$ctrl.client.lawyers}}</dd>
        </dl>
    </li>
    <li>
        <span>Projecten</span>
        <dl>
            <dt>Gegevens</dt>
            <dd ng-repeat="dim in $ctrl.client.projects">{{dim}}</dd>
        </dl>
    </li>
</ul>