body {
    padding: 20px;
}

h1 {
    border-bottom: 1px solid gray;
    margin-top: 0;
}

a {
    cursor: pointer;
}

/* View: Client list */
.clients {
    list-style: none;
}

.clients li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

.thumb {
    float: left;
    height: 100px;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    width: 100px;
}

/* View: Client detail */
.client {
    background-color: white;
    display: none;
    float: left;
    height: 400px;
    margin-bottom: 2em;
    margin-right: 3em;
    padding: 2em;
    width: 400px;
}

.client:first-child {
    display: block;
}

.client-images {
    background-color: white;
    float: left;
    height: 450px;
    overflow: hidden;
    position: relative;
    width: 450px;
}

.client-thumbs {
    list-style: none;
    margin: 0;
}

.client-thumbs img {
    height: 100px;
    padding: 1em;
    width: 100px;
}

.client-thumbs li {
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    margin: 1em;
}

.specs {
    clear: both;
    list-style: none;
    margin: 0;
    padding: 0;
}

.specs dt {
    font-weight: bold;
}

.specs > li {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.specs > li > span {
    font-size: 1.2em;
    font-weight: bold;
}

.error-back {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.error-template {
    padding: 40px 15px;text-align: center;
}
.error-actions {
    margin-top:15px;margin-bottom:15px;
}
.error-actions .btn {
    margin-right:10px;
}